---
// Component Imports
import Footer from '../components/Footer.astro';
import MainHead from '../MainHead.astro';
import Nav from '../components/Nav.astro';
import md from 'markdown-it';

// const renderer = md({
// 	html: true,
// 	linkify: true,
// 	typographer: true
// });


// const left_com = await fetch('https://construtoraconfidence.com/static_content/logo-landing-content-left.md').then((response) =>
// 	response.text()
// );
// const right_com = await fetch('https://construtoraconfidence.com/static_content/logo-landing-content-right.json').then((response) =>
// 	response.json()
// );
---

<html lang="en">
	<MainHead/>
<body>
	<Nav startsOpen={true}>
		 <>
			<!-- <p slot="logonav-slot_left" >
				{left_com}
			</p> -->
		<!--	
			<p slot="logonav-slot_right" >
				{right_com.mdsession}
			</p>
		-->
		</> 
	</Nav>
	<div class="section content">
		<section id="resume">
			Conteudo Empresa Resume
		</section>
		<section id="followupnav">
			Conteudo Followup Contextualização com links e navegação
		</section>
	</div>
	<style>
		#resume{
			margin-top: 50px;
		}
	</style>
	<Footer></Footer>
</body>
</html>
