---
// Component Imports
import Footer from '../components/Footer.astro';
import MainHead from '../MainHead.astro';
import Nav from '../components/Nav.astro';
import Placa from '../components/Placa.astro'
---

<html lang="en">
	<MainHead/>
<body>
	<Placa/>
	<Nav/>
	<Footer></Footer>
</body>
</html>
