---

---
<div>
    Em construção
</div>

<style>
    div{
        position: fixed;
        transform: rotate(40deg);
        width: 100px;
        height: 70px;
        text-align: center;
        padding: 1em;
        padding-inline: 2em;
        background-color: coral;
        border: 4px dashed white;
        z-index: 100000;
        font-size: 21px;
        color: white;
        top: 10px;
        right: 10px;
    }
</style>