
#img-galery {
    height: calc(100vh - 4em - 50px);
    display: flex;
    overflow-y: scroll;
    overflow-x: visible;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 4% auto 0;
    width: calc(100vw - 3em);
    padding: 1em;
    background-color: #F2F4F3;
}
#img-galery:after {
    content: "";
    flex-grow: 999;
}
#img-galery .item {
    flex: 1 1 auto;
    cursor: pointer;
    position: relative;
    z-index: 1;
    order: 1;
    transform: scale(1);
    transition: all .25s;
    overflow: visible;
}
#img-galery .item.actived {
    z-index: 1001;
    order: 0;
    max-width: 100% !important;
    width: 100% !important;
    max-height: calc(100vh - 65px) !important;
}
#img-galery .item.actived > img{
    width: auto;
    margin: 0 auto;
}
#img-galery .item>img, #img-galery .item>video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    vertical-align: middle;
}

#img-galery .item span {
    position: absolute;
    bottom: 7%;
    right: 4%;
    width: 0px;
    overflow: hidden;
    text-align: right;
}

.section.content > *{
    padding: 2em;
    font-size: medium;
    background-color: #F2F4F3;
}

.section.content > h2{
    padding-inline: 1em;
    font-size: 32px;
}

.p_session img{
    max-height: 70vh;
}
