
#img-galery {
    height: 100vh;
    top: 100px;
    display: flex;
    overflow-y: scroll;
    overflow-x: visible;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 100vw;
}
#img-galery:after {
    content: "";
    flex-grow: 999;
}
#img-galery .item {
    flex: 1 1 auto;
    cursor: pointer;
    position: relative;
    z-index: 1;
    order: 1;
    transform: scale(1);
    transition: all .25s;
    overflow: visible;
}
#img-galery .item.actived {
    z-index: 1001;
    order: 0;
    width: 100%;
    height: calc(100vh - 65px) !important;
}
#img-galery .item>img, #img-galery .item>video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#img-galery .item span {
    position: absolute;
    bottom: 4%;
    right: 4%;
    width: 0px;
    overflow: hidden;
    text-align: right;
}